<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#edit-form">EditMicropost</button>

<%= form_with(model: micropost, local: true, id: 'edit-form', class: 'collapse', method: :put) do |f| %>
    <div class="form-group">
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
        <%= f.submit 'Edit', class: 'btn btn-primary btn-block' %>
    </div>
<% end %>
    