<% if model.errors.any? %>
    <div class="alert alert-warning" id="error_explanation">
        <ul class="mb-0">
        <% model.errors.full_messages.each do |m| %>
            <li><%= m %></li>
        <% end %>
        </ul>
    </div>
<% end %>